*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #180003;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.choice{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #180003;
}

img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-cont{
    text-align: center;
    margin-top: 5rem;
}

#msg{
    background-color: #180003;
    color: white;
    display: inline;
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 1rem;
}